.main{
border: 5px solid bisque;
width: 1200px;
background-color: aqua;


}
div.main1{
    border: 5px solid black;
    margin: 30px;
    width: 1000px;
    box-shadow: 15px 15px 3px grey;

}
p{
    text-align: left;
}
ul{
 text-align: left;
    list-style-position: inside;
}
body{
background-color: green;

}
.greeks{
    border: 5px solid aliceblue;
    width: 900px;
    padding: 30px;
    background-color: aliceblue;

}
.form{
    text-align: left;}
